<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Club express</a>
    <form class="form-inline">
        <a class="form-control bg-primary text-white mr-sm-2" href="users/signup">Sign up</a>
        <a class="form-control mr-sm-2" href="users/login">Login</a>
    </form>
    
  </nav>
  <p class="bg-dark text-white p-2 pl-3">An exclusive club where only premium members can see message authors and timestamps</p>