<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="cointainer">
    
    <header>
      <%- include('./partials/header'); %>
    </header>
    
    <main>
      <div class="jumbotron">
            <div class="card" style="margin-bottom: 10px;">
              <h4 class="card-header">Sign up</h4>
              <div class="card-body">
                <form action="" method="POST">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="first_name">First name</label>
                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Enter name">
                  </div>
                  <div class="form-group">
                    <label for="last_name">Last name</label>
                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Enter last name">
                  </div>
                  <div class="form-group">
                    <label for="secretcode">Secret code</label>
                    <input type="text" class="form-control" name="secretcode" id="secretcode" aria-describedby="secretcodeHelp" placeholder="Enter secret code">
                    <small id="secretcodeHelp" class="form-text text-muted">Enter a secret code to get premium or admin rights</small>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
      </div>

      
    </main>
    
    <footer>
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>